.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    height: 100%;

    header {
        margin-bottom: 1rem;
        color: #11176e;
    }

}

a {
    border-radius: 0.25rem;
    border-style:solid;
    border-width: 1px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color:white;
}

button {
    margin:1rem;
    padding:0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

