table {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    empty-cells: show;
}

th {
    padding:1rem;
    &:hover {
        cursor: pointer;
    }
}

tbody tr:nth-child(odd){
    background-color: rgba(206, 233, 255, 0.562);
  }

tr.task {
    opacity: 0.8;
    &:hover {
        cursor: pointer;
        opacity: 1
    }
}

td {
    padding: 1rem;
}

.toAdd {

    background-color: rgb(228, 123, 26);

}

button {
    margin: 1rem;
    padding: 1rem;
    background-color: #11176e;
    color: white;
    border-radius: 0.25rem;
    border-style:solid;
    border-width: 1px;
    
    &:hover {
        cursor: pointer;
        opacity: 1;
        box-shadow: 0.1rem 0.1rem grey;
    }
}

button.complete{
    background-color: rgb(228, 123, 26);
    color: white;
}

button.completed{
    color:white;
    &:hover {
        opacity: 1;
        box-shadow: none;
    }
}


button.remove{
    background-color: rgb(143, 16, 16);
    color: white;
}


.head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.filters{



    button {
        color:white;
        opacity: 0.7;

    }

    button.selected{
        opacity: 1;
     }

}

